<ion-tabs>
<div class="color">
  <ion-tab-bar slot="bottom" class="color"> 
    <ion-tab-button tab="tab1" href="/tabs/tab1" class="color">
      <ion-icon aria-hidden="true" name="add-circle-outline"></ion-icon>
      <ion-label>Añadir a lista</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" href="/tabs/tab2" class="color">
      <ion-icon aria-hidden="true" name="albums-outline"></ion-icon>
      <ion-label>Favoritos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</div>
</ion-tabs>
